body {
    margin:0px;
    font-family: roboto;
}

h1, p, div {
    margin: 0;
}

h1 {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.section-1 {
    background-image: url(../img/bg.jpg);
    width: 1920px;
    height: 572px;
    margin: 0px;
}

#root {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 203px;
    top: 0px;
}

.raiting {
    position: absolute;
    width: 123.75px;
    height: 18px;
    left: 181px;
    top: 247px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.stars {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

#count {
    margin-left: 8px ;
    color: white;
}

 #raiting {
    position: static;
    width: 85px;
    height: 20px;
 }

h1 {
    position: absolute;
    left: 101px;
    top: 100px;
}

#text-1 {
    position: absolute;
    left: 0px;
    top: 158px;
    text-align: center;
    line-height: 24px;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: rgb(255, 255, 255);
}

.offer {
    position: absolute;
    width: 485px;
    height: 338px;
    left: 355px;
    top: 117px;
}

.badges {
    position: absolute;
    width: 320px;
    height: 48px;
    left: 90px;
    top: 290px;
}
.section-2 {
    background-color: white;
}

.footer-text {
    position: absolute;
    width: 485px;
    height: 167px;
    left: 318px;
    top: 620px;
    font-size: 14px;
    line-height: 21px;
}
.footer-text-1 {
    margin: 24px 0px;
}
.footer-links {
    position: absolute;
    width: 307px;
    height: 104px;
    left: 1101px;
    top: 652px;
    font-size: 14px;
    display: flex;
    flex-direction: row;  
}

.footer-column-1 {
    position: static;
width: 111px;
height: 104px;
left: 0px;
top: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 76px;
}

.footer-column-2 {
    position: static;
width: 120px;
height: 104px;
left: 187px;
top: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 76px;
}

.footer-column-text-p {
    padding-bottom: 16px;
}